<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ceb.system.mapper.login.LoginMapper">
    <insert id="insertUser" parameterType="com.ceb.system.DTO.UserDTO">
        INSERT INTO t_system_user (USERNAME, PASSWORD)
        VALUES
        (#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
    </insert>
</mapper>