<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="icon" href="图片位置" type="image/x-icon"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/htmleaf-demo.css}">
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body>
<div class="htmleaf-container">
    <header class="htmleaf-header">
        <h1></h1>

    </header>
    <div class="signin">
        <div class="signin-head"></div>
        <form class="form-signin" role="form">
            <input type="text" class="form-control" placeholder="用户名" required autofocus />
            <input type="password" class="form-control" placeholder="密码" required />
            <button class="btn btn-lg btn-info btn-block" type="submit">登录</button>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </form>
    </div>
</div>
</body>
</html>