<div id="allocateRoleToUserDialog" class="modal fade" tabindex="-1" th:fragment="allocateRoleToUser" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">权限分配</h5>
            </div>
            <div class="modal-body form-horizontal">
                <form id="allocateRoleToUserForm">
                    <div class="checkbox">
                        <label><input type="checkbox" value="888888" >超级管理员</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="100003">普通用户</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn btn-default pull-left" data-dismiss="modal">关&nbsp;&nbsp;&nbsp;&nbsp;闭</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="addRole();">分配权限</button>
            </div>
        </div>
    </div>
</div>